*{
    padding: 0;
    margin: 0;
}
body{
    background-color: white;
}
.showcase{
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    gap: 10px;
}
.collection{
    display:grid;
}
@media (max-width: 768px){
    .showcase{
        flex-direction: column;
        gap: 10px;
    }
}