.contact{
    display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  object-fit: cover;

}
.menu {
  background: #181A1E;
  display: flex;

  justify-content: space-between; /* Equal spacing between items */
  padding: 6px 40px;
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensures it stays on top of other content */
}

/* Style for each link */
.menu a {
  color: #B1B0B0;
  text-decoration: none;
  font-size: 28px;
  font-family: 'Archivo', 'Courier', 'monospace', 'Courier New';
}

/* Styling for icons (logo, login, cart) */
.menu img {
  width: 50px; /* Adjust as needed for icon size */
  vertical-align: middle;
}

/* Hover effect on menu links */
.menu a:hover {
  color: #D6E70A;
}

/* Extra spacing for equal distribution (optional) */
.menu a:not(:last-child) {
  margin-right: 20px; /* Adjust as needed to balance layout */
}
footer {
  background: #222;
  color: #ddd;
  text-align: center;
  padding: 20px;
  font-size: 14px;
}

footer a {
  color: #ff6f61;
  text-decoration: none;
}

footer .social-links img {
  margin: 0 10px;
  width: 30px;
}
